code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

:root {
  --color-athens-gray: #e1e4e8;
  --color-whisper: #f5f6fa;
  --color-anakiwa: #8edaff;
  --color-white: #fff;
}

html {
  color: var(--color-outer-space);
  font-family: 'Rubik', sans-serif;
  margin: 0;
}
